.todo-list-item.done .todo-list-item-label {
  text-decoration: line-through;
}

.todo-list-item {
  font-size: 14px;
}

.done {
  text-decoration: line-through;
  color: rgb(128, 128, 128);
}

.deleteBtn:hover {
  cursor: pointer;
}

.todoList {
  display: flex;
}

.inputEdit {
  width: 600px;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  outline: none;
  color: rgb(242, 242, 242);
}
