.buttons {
  height: 36px;
  display: flex;
}

.btn {
  color: rgb(242, 242, 242);
  border-radius: 8px;
  background: rgb(9 54 81);
  position: relative;
  width: 132px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-right: 16px;
}

.btn:focus {
  background: rgb(30, 111, 159);
}

.buttons-delete {
  width: 100px;
  height: 36px;
}
