.head {
  background: rgb(13, 13, 13);
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 44px;
  margin: 0;
}

.rocket {
  padding-right: 10px;
}

.to {
  color: rgb(78, 168, 222);
}

.do {
  color: rgb(94, 96, 206);
}
