.search {
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 8px;
  max-width: 736px;
  margin: 0 auto;
  margin-top: -40px;
}

.search-panel {
  box-sizing: border-box;
  border: 1px solid rgb(13, 13, 13);
  border-radius: 8px;
  background: rgb(38, 38, 38);
  position: static;
  width: 603px;
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  color: rgb(242, 242, 242);
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 8px;
}

.search-button {
  position: static;
  width: 125px;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border-radius: 8px;
  background: rgb(30, 111, 159);
  color: white;
}
