.tasks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(78, 168, 222);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  padding: 25px 0 13px 0;
}

.tasksStyle {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.tasksNumbers {
  border-radius: 999px;
  /* Gray 400 */
  background: rgb(51, 51, 51);
  color: rgb(217, 217, 217);
}

.allTasksNumber {
  /* Counter */
  position: static;
  width: 24px;
  height: 19px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 8px 2px 8px;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
}

.finishedTasksNumbers {
  margin: 0px 0px 0px 8px;
  /* Counter */
  position: static;
  width: 51px;
  height: 19px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 8px 2px 8px;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
